<h2>
    <a id="about" class="anchor" href="#about" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>About</h2>

<p>Angular UI Tour is a plugin that uses Angular UI Bootstrap's popovers to display a guided product tour. This was
    originally inspired by <a href="http://www.bootstraptour.com">Bootstrap Tour</a> as <a href="http://github.com/benmarch/angular-bootstrap-tour">Angular Bootstrap Tour</a>,
    but after much feedback to remove the jQuery dependency, Angular UI Tour was born. It uses many of the features from
    Bootstrap Tour, but plays nicely with Angular, <strong>and does not have any dependency on Twitter Bootstrap or jQuery!</strong></p>

<h2 tour-step
    tour-step-title="Get Started!"
    tour-step-content="You can get started by installing with Bower or NPM and including the script tags..."
    tour-step-order="10">
    <a id="getting-started" class="anchor" href="#getting-started" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Getting Started</h2>

<p><em>It is highly recommended that you use Bower and Wiredep to install this plugin for now. I am working on making it (and its dependencies)
available through NPM, but I don't believe it works yet.</em></p>

<p>Get the package:</p>

<pre><code>bower install angular-ui-tour
</code></pre>

<p>Add the script tags:</p>

<pre lang="html"><code class="hljs dust"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">script</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"bower_components/angular/angular.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"bower_components/angular-bootstrap/ui-bootstrap-tpls.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"bower_components/ez-ng/dist/ez-ng.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"bower_components/angular-hotkeys/build/hotkeys.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"bower_components/angular-ui-tour/dist/angular-ui-tour.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
</span></code></pre>

<p tour-step
   tour-step-title="Get Started!"
   tour-step-content="...then include the module in you app!"
   tour-step-order="20">Then add the module to your app:</p>

<pre><code>angular.module('myApp', ['bm.uiTour']);
</code></pre>

<p>Add some styles for the backdrop (feel free to style it however you want):</p>

<pre lang="css"><code class="hljs css"><span class="hljs-class">.tour-backdrop</span> <span class="hljs-rules">{
    <span class="hljs-rule"><span class="hljs-attribute">background-color</span>:<span class="hljs-value"> <span class="hljs-function">rgba</span>(<span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0.5</span>)</span></span>;
}</span>
</code></pre>

<h2>
    <a id="tour-configuration" class="anchor" href="#tour-configuration" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Tour Configuration</h2>

<p>Tours can be configured either programatically in a config block, or declaratively as part of the uiTour directive declaration.</p>

<p>To configure in a config block, use TourConfigProvider.set(optionName, optionValue);</p>

<p>To configure on a tour declaration, use <code>ui-tour-&lt;option-name&gt;="optionValue"</code></p>

<h3>
    <a id="options" class="anchor" href="#options" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Options</h3>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default Value</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr tour-step
        tour-step-title="Position"
        tour-step-content="You can position the popover the same way any Angular UI Bootstrap popovers can be positioned, including 'top', 'left', 'top-left', etc."
        tour-step-order="30"
        tour-step-placement="left">
        <td>placement</td>
        <td>string</td>
        <td>"top"</td>
        <td>Where the popup should display relative to the element. See <a href="https://angular-ui.github.io/bootstrap/#/popover">Angular UI Bootstrap Popovers</a></td>
    </tr>
    <tr tour-step
        tour-step-title="Animation"
        tour-step-content="By default, popovers fade in and out. Set this to false to have them appear/disappear."
        tour-step-order="40"
        tour-step-animation="false">
        <td>animation</td>
        <td>boolean</td>
        <td>true</td>
        <td>Should the popup fade in/out.</td>
    </tr>
    <tr tour-step
        tour-step-title="Delay"
        tour-step-content="Did you notice the delay? Make sure this is positive or there will be issues when navigating. Set to a higher value to delay longer."
        tour-step-order="50"
        tour-step-popup-delay="250">
        <td>popupDelay</td>
        <td>number</td>
        <td>1</td>
        <td>Time to delay (in ms) between when the popup is requested to show and when it is shown. <strong>Note</strong> must be positive for multi-page tours to work.</td>
    </tr>
    <tr>
        <td>closePopupDelay</td>
        <td>number</td>
        <td>0</td>
        <td>Time to delay (in ms) between when the popup is requested to hide and when it is hidden.</td>
    </tr>
    <tr>
        <td>appendToBody</td>
        <td>boolean</td>
        <td>false</td>
        <td>Should popups be appended to body (true) or the parent element (false).</td>
    </tr>
    <tr>
<td>scrollOffset</td>
<td>number</td>
<td>100</td>
<td>Number of pixels between the top of the viewport and the top of tour step after scrolling</td>
</tr>
    <tr>
        <td>popupClass</td>
        <td>string</td>
        <td>""</td>
        <td>Adds additional classes to the popup.</td>
    </tr>
    <tr tour-step
        tour-step-title="Orphan"
        tour-step-content="The 'Welcome!' step in this tour was an orphan. It just means it isn't positioned by its defining element."
        tour-step-order="70">
        <td>orphan</td>
        <td>boolean</td>
        <td>false</td>
        <td>Should the popup display in the center of the viewport (true) or by the element (false).</td>
    </tr>
    <tr tour-step
        tour-step-title="Backdrop"
        tour-step-content="Highlight your element! This technically creates a clone and positions it on top of the defining element, so watch for CSS that might be too specific."
        tour-step-order="80"
        tour-step-backdrop="true">
        <td>backdrop</td>
        <td>boolean</td>
        <td>false</td>
        <td>Should there be a backdrop behind the element. <strong>Note</strong> this can be flaky, I recommend using appendToBody with this to prevent unexpected stacking issues.</td>
    </tr>
    <tr>
        <td>backdropZIndex</td>
        <td>number</td>
        <td>10000</td>
        <td>Z-index of the backdrop. Popups will be positioned relative to this.</td>
    </tr>
    <tr tour-step
        tour-step-title="Templates"
        tour-step-content="Angular UI Tour comes with a standard template, but you can use your own by specifying a template URL either for all steps or for a single step. This one just adds a class that changes the styles."
        tour-step-order="90"
        tour-step-template-url="'tour-step-other-template.html'">
        <td>templateUrl</td>
        <td>string</td>
        <td>"tour-step-template.html"</td>
        <td>Used as the template for the contents of the popup (see Angular UI Tooltip docs).</td>
    </tr>
    <tr>
<td>useUiRouter</td>
<td>boolean</td>
<td>false</td>
<td>When navigating with nextPath and prevPath (see below), use UI Router states instead of Angular paths.</td>
</tr>
<tr>
<td>useHotkeys</td>
<td>boolean</td>
<td>false</td>
<td>Allows the use of right/left keyboard keys to navigate through steps, and esc key to end the tour.</td>
</tr>
    <tr tour-step
        tour-step-title="Event Handlers"
        tour-step-content="You can set event handlers on the tour or tour steps. The content of each option will evaluate on the outer scope so you can define callbacks in higher scopes. They are all async and can return promises."
        tour-step-order="100"
        tour-step-on-show="confirmShow()">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>onReady</td>
        <td>function</td>
        <td>null</td>
        <td>Called when tour is initialized and attached to the scope</td>
    </tr>
    <tr>
        <td>onStart</td>
        <td>function</td>
        <td>null</td>
        <td>Called when tour is started, before first popup is shown</td>
    </tr>
    <tr>
        <td>onEnd</td>
        <td>function</td>
        <td>null</td>
        <td>Called when tour is ended, after last popup is hidden</td>
    </tr>
    <tr>
        <td>onPause</td>
        <td>function</td>
        <td>null</td>
        <td>Called when tour is paused, before current popup is hidden</td>
    </tr>
    <tr>
        <td>onResume</td>
        <td>function</td>
        <td>null</td>
        <td>Called when tour is resumed, before current popup is shown</td>
    </tr>
    <tr>
        <td>onNext</td>
        <td>function</td>
        <td>null</td>
        <td>Called when next step is requested, before current popup is hidden</td>
    </tr>
    <tr>
        <td>onPrev</td>
        <td>function</td>
        <td>null</td>
        <td>Called when previous step is requested, before current popup is hidden</td>
    </tr>
    <tr>
        <td>onShow</td>
        <td>function</td>
        <td>null</td>
        <td>Called just before popup is shown</td>
    </tr>
    <tr>
        <td>onShown</td>
        <td>function</td>
        <td>null</td>
        <td>Called just after popup is shown</td>
    </tr>
    <tr>
        <td>onHide</td>
        <td>function</td>
        <td>null</td>
        <td>Called just before popup is hidden</td>
    </tr>
    <tr>
        <td>onHidden</td>
        <td>function</td>
        <td>null</td>
        <td>Called just after popup is hidden</td>
    </tr>
    </tbody>
</table>

<p><strong>Important:</strong> If a lifecyle hook event is overridden in a config block, the function **must** return a promise.
    If it is overridden in the directive declaration, it will be wrapped in a promise automatically. If the function returns
    a promise, it will wait until it is resolved before moving on.</p>

<h2>
    <a id="tour-steps" class="anchor" href="#tour-steps" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Tour Steps</h2>

<p>Tour steps are extensions of <a href="https://angular-ui.github.io/bootstrap/#/tooltip">Angular UI's Tooltips</a> and therefore all
    options are available. Although there are 3 types of Tooltips, there is only one type of Tour Step. In addition, almost
    all of the Tour options can be overridden by individual tour steps, as well as additional options that can be changed.</p>

<p>To configure on a tour step declaration, use <code>tour-step-&lt;option-name&gt;="optionValue"</code></p>

<h3>
    <a id="additional-options" class="anchor" href="#additional-options" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Additional Options</h3>

<table tour-step
       tour-step-title="Step-specific Options"
       tour-step-content="Some options are only for tour steps, not the whole tour. Prefix each with 'tour-step-' if setting them as attributes."
       tour-step-order="110"
       tour-step-backdrop="true"
       tour-step-scroll-offset="25">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default Value</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>title</td>
        <td>string</td>
        <td>""</td>
        <td>The title of the popup</td>
    </tr>
    <tr tour-step
        tour-step-title="Content"
        tour-step-content="This is the content of the popover. It can even include <strong>HTML!!</strong>"
        tour-step-order="120">
        <td>content</td>
        <td>string</td>
        <td>""</td>
        <td>The content of the popup. <strong>Note:</strong> can contain HTML</td>
    </tr>
    <tr>
        <td>order</td>
        <td>number</td>
        <td>null</td>
        <td>The order in which the step will be displayed. Although it is optional, the behavior is undefined if this is not explicitly set.</td>
    </tr>
    <tr tour-step
        tour-step-title="Enabled"
        tour-step-content="Set this to false, or better yet, use a scope variable to determine whether or not this step should display."
        tour-step-order="125"
        tour-step-enabled="{{isEnabled}}">
        <td>enabled</td>
        <td>boolean</td>
        <td>true</td>
        <td>This will enable or disable the tour step.<br/><strong>Demo:</strong> this step is <em>{{isEnabled ? 'enabled' : 'disabled'}}</em>, <a href="#" ng-click="toggleEnabled()">click here to toggle</a>, use prev/next to see change.</td>
    </tr>
    <tr  tour-step
         tour-step-title="Fixed"
         tour-step-content="If the defining element is fixed (or has a fixed ancestor) you <em>must</em> set this to true because the library does not detect this automatically."
         tour-step-order="130">
        <td>fixed</td>
        <td>boolean</td>
        <td>false</td>
        <td>Is the element fixed (does not discover automatically ATM).</td>
    </tr>
    <tr tour-step
        tour-step-title="Prevent Scrolling"
        tour-step-content="Try to scroll. Bet you can't! :)"
        tour-step-order="140"
        tour-step-backdrop="true"
        tour-step-prevent-scrolling="true">
        <td>preventScrolling</td>
        <td>boolean</td>
        <td>false</td>
        <td>Should page scrolling be prevented when popup is shown (I don't recommend using this, but there are times when it is useful). Only works with a backdrop.</td>
    </tr>
    <tr>
<td>scrollIntoView</td>
<td>boolean</td>
<td>true</td>
<td>Should the tour scroll the page so that the tour step is visible once it is shown. Set to false when you don't want any scrolling to occur.</td>
</tr>
    <tr tour-step="navigation-next-step"
        tour-step-title="Navigation"
        tour-step-content="You can navigate to other views using the ngRouter. Just specify the next/previous path(s) and the corresponding step ID (value of the tour-step attribute)."
        tour-step-order="150"
        tour-step-next-path="other"
        tour-step-next-step="some-other-step">
        <td>nextStep</td>
        <td>string</td>
        <td>""</td>
        <td>If the next step is on a different page, set this to declare the name of the next step.</td>
    </tr>
    <tr>
        <td>nextPath</td>
        <td>string</td>
        <td>""</td>
        <td>If the next step is on a different page, set this to the path of the next page. If useUiRouter is true, this will be the state name.</td>
    </tr>
    <tr tour-step="navigation-prev-step"
        tour-step-title="Navigation"
        tour-step-content="And we're baaaaaack!"
        tour-step-order="160"
        tour-step-prev-path="other"
        tour-step-prev-step="some-other-step">
        <td>prevStep</td>
        <td>string</td>
        <td>""</td>
        <td>If the previous step is on a different page, set this to declare the name of the previous step.</td>
    </tr>
    <tr>
        <td>prevPath</td>
        <td>string</td>
        <td>""</td>
        <td>If the previous step is on a different page, set this to the path of the previous page. If useUiRouter is true, this will be the state name.</td>
    </tr>
    <tr>
        <td>templateUrl</td>
        <td>string</td>
        <td>"tour-step-template.html"</td>
        <td>Used as the template for the contents of the popup (see Angular UI Tooltip docs).</td>
    </tr>
    </tbody>
</table>

<p><strong>Best practice:</strong> always set the order so that the steps display in the expected order. Steps with the same order will
    display consecutively, but the order among them is unpredictable. At first, use increments of 10 so that if you need to add steps
    in the middle later you won't have to reorder everything.... Remember when code needed line numbers??? :)</p>

<h2>
    <a id="directives" class="anchor" href="#directives" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Directives</h2>

<h3>
    <a id="uitour" class="anchor" href="#uitour" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>uiTour</h3>

<p>uiTour is the container for the tour steps; all tour steps must be declared as descendants of uiTour.
    The declaration can be as simple as adding ui-tour to an element, or can include one or more options (shown above).</p>

<p>Examples:</p>

<pre lang="html"><code class="hljs dust"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">body</span> <span class="hljs-attribute">ui-tour</span>&gt;</span>
    ... <span class="hljs-comment">&lt;!-- page content and tour steps --&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">body</span>&gt;</span>


<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">ui-tour</span> <span class="hljs-attribute">ui-tour-on-start</span>=<span class="hljs-value">"onTourStart()"</span> <span class="hljs-attribute">ui-tour-placement</span>=<span class="hljs-value">"bottom"</span>&gt;</span>
    ... <span class="hljs-comment">&lt;!-- page content and tour steps --&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
</span></code></pre>

<h3>
    <a id="tourstep" class="anchor" href="#tourstep" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>tourStep</h3>

<p>tourSteps declare which elements should have a popup during the tour. They can be declared on any element, but some consideration
    should be taken when deciding which element on which to declare them.</p>

<p>Examples:</p>

<pre lang="html"><code class="hljs dust"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">body</span> <span class="hljs-attribute">ui-tour</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"mainMenu"</span> <span class="hljs-attribute">tour-step</span> <span class="hljs-attribute">tour-step-title</span>=<span class="hljs-value">"Main Menu"</span> <span class="hljs-attribute">tour-step-content</span>=<span class="hljs-value">"Navigate the site using this menu."</span> <span class="hljs-attribute">tour-step-order</span>=<span class="hljs-value">"0"</span> <span class="hljs-attribute">tour-step-placement</span>=<span class="hljs-value">"right"</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    ...
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"settings"</span> <span class="hljs-attribute">tour-step</span> <span class="hljs-attribute">tour-step-title</span>=<span class="hljs-value">"Settings"</span> <span class="hljs-attribute">tour-step-content</span>=<span class="hljs-value">"Click here to change your settings."</span> <span class="hljs-attribute">tour-step-order</span>=<span class="hljs-value">"1"</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"finalTourMessage"</span> <span class="hljs-attribute">tour-step</span> <span class="hljs-attribute">tour-step-title</span>=<span class="hljs-value">"Welcome!"</span> <span class="hljs-attribute">tour-step-content</span>=<span class="hljs-value">"Enjoy using the app!"</span> <span class="hljs-attribute">tour-step-order</span>=<span class="hljs-value">"1000"</span> <span class="hljs-attribute">tour-step-orphan</span>=<span class="hljs-value">"true"</span> <span class="hljs-attribute">tour-step-backdrop</span>=<span class="hljs-value">"true"</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">body</span>&gt;</span>


<span class="hljs-comment">&lt;!-- fixed element --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">body</span> <span class="hljs-attribute">ui-tour</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">header</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"position: fixed;"</span> <span class="hljs-attribute">tour-step</span> <span class="hljs-attribute">tour-step-title</span>=<span class="hljs-value">"Header"</span> <span class="hljs-attribute">tour-step-content</span>=<span class="hljs-value">"This header is fixed at the top."</span> <span class="hljs-attribute">tour-step-order</span>=<span class="hljs-value">"0"</span> <span class="hljs-attribute">tour-step-fixed</span>=<span class="hljs-value">"true"</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-title">header</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">body</span>&gt;</span>


<span class="hljs-comment">&lt;!-- multi-page tour --&gt;</span>
<span class="hljs-comment">&lt;!-- layout --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">body</span> <span class="hljs-attribute">ui-tour</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- page 1: included using ngView (/page1) --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">tour-step</span>=<span class="hljs-value">"page1step1"</span> <span class="hljs-attribute">...</span> <span class="hljs-attribute">tour-step-next-path</span>=<span class="hljs-value">"page2"</span> <span class="hljs-attribute">tour-step-next-step</span>=<span class="hljs-value">"page2step1"</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- /page 1 --&gt;</span>

    <span class="hljs-comment">&lt;!-- page 2: ngView is populated when next step is requested after page1step1 --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">tour-step</span>=<span class="hljs-value">"page2step1"</span> <span class="hljs-attribute">...</span> <span class="hljs-attribute">tour-step-prev-path</span>=<span class="hljs-value">"page1"</span> <span class="hljs-attribute">tour-step-prev-step</span>=<span class="hljs-value">"page1step1"</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">body</span>&gt;</span>
</span></code></pre>

<h2>Tour API</h2>

<p>The tour itself has a small API that can be used to control the flow of the tour. The tour object is available on the
    scope of the uiTour directive, and can be required as <code>TourController</code> in directives on or in the uiTour's subtree.</p>

<table><thead>
<tr>
    <th>Method</th>
    <th>Description</th>
</tr>
</thead><tbody>
<tr>
    <td>start()</td>
    <td>Starts the tour by showing the first tour step. <br> <strong>Parameters:</strong> &lt;none&gt; <br> <strong>Returns:</strong> <em>Promise</em> Resolves after step is shown.</td>
</tr>
<tr>
    <td>startAt()</td>
    <td>Starts the tour by showing the provided step. <br> <strong>Parameters:</strong> <em>step</em> Can be step object, step ID string, or step index <br> <strong>Returns:</strong> <em>Promise</em> Resolves after step is shown.</td>
</tr>
<tr>
    <td>end()</td>
    <td>Ends the tour, calling start() again will start from the beginning. <br> <strong>Parameters:</strong> &lt;none&gt; <br> <strong>Returns:</strong> <em>Promise</em> Resolves after step is hidden.</td>
</tr>
<tr>
    <td>pause()</td>
    <td>Pauses the tour by hiding the current step. <br> <strong>Parameters:</strong> &lt;none&gt; <br> <strong>Returns:</strong> <em>Promise</em> Resolves after step is hidden.</td>
</tr>
<tr>
    <td>resume()</td>
    <td>Resumes the tour from the last shown step if it is paused. <br> <strong>Parameters:</strong> &lt;none&gt; <br> <strong>Returns:</strong> <em>Promise</em> Resolves after step is shown.</td>
</tr>
<tr>
    <td>next()</td>
    <td>Hides the current step and shows the next one. <br> <strong>Parameters:</strong> &lt;none&gt; <br> <strong>Returns:</strong> <em>Promise</em> Resolves after next step is shown.</td>
</tr>
<tr>
    <td>prev()</td>
    <td>Hides the current step and shows the previous one. <br> <strong>Parameters:</strong> &lt;none&gt; <br> <strong>Returns:</strong> <em>Promise</em> Resolves after previous step is shown.</td>
</tr>
<tr>
    <td>goTo()</td>
    <td>Hides the current step and jumps to the provided one. <br> <strong>Parameters:</strong> <em>step</em> Can be step object, step ID string, or step index <br> <strong>Returns:</strong> <em>Promise</em> Resolved when provided step is shown, rejects if no step provided or found.</td>
</tr>
</tbody></table>

<h2>Tour Service</h2>

<p>The <code>uiTourService</code> can be used for retrieving a reference to a tour object. There are three methods to retrieve the reference (note that they are all synchronous):</p>

<table><thead>
<tr>
    <th>Method</th>
    <th>Description</th>
</tr>
</thead><tbody>
<tr>
    <td>getTour()</td>
    <td>If you have a single tour on your page, this is the easiest way to get the reference to it from a service or controller.</td>
</tr>
<tr>
    <td>getTourByName(name)</td>
    <td>If you have multiple tours you can name them by supplying a value to the <code>ui-tour</code> attribute. This method allows you to retrieve a tour by name.</td>
</tr>
<tr>
    <td>getTourByElement(element)</td>
    <td>If you want to know which tour is available to a specific element (in order to create a tour step, for example) you can pass the element into this method to retrieve the appropriate tour. This can be a DOM element, or jqLite object.</td>
</tr>
<tr>
    <td>createDetachedTour(name, config)</td>
    <td>Creates a tour that is not associated with a DOM subtree. Steps can be added the detached tour by setting the <code>tour-step-belongs-to</code> attribute to the name of the tour. The config object will override global tour options just like a regular tour.</td>
</tr>
</tbody></table>

<h2>Tour Notifications</h2>

<p>The tour itself is an event emitter that emits the following notifications. The difference between listening for notifications and setting
    lifecycle hook handlers as shown above is that these notifications are outside of the lifecycle of the tour. That means that the notification events are
    emitted, and then the tour moves on without waiting for any handlers to finish. By setting a lifecyle hook handler, the tour will
    wait for a handler to complete before moving on. If you simply need to know when something happened, use an event notification listener,
    but if you need to execute code before the tour moves continues, set an lifecycle hook handler.</p>

<p>Listen for the following events using this pattern:</p>

<pre lang="js"><code class="hljs haxe">tour.on(<span class="hljs-string">'&lt;notificationName&gt;'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(data)</span> </span>{
    <span class="hljs-comment">//your logic here</span>
});
</code></pre>

<table><thead>
<tr>
    <th>Event Name</th>
    <th>Timing</th>
    <th>Data</th>
</tr>
</thead><tbody>
<tr>
    <td>initialized</td>
    <td>After config is set</td>
    <td>null</td>
</tr>
<tr>
    <td>started</td>
    <td>Before the first step is shown</td>
    <td>first step</td>
</tr>
<tr>
    <td>paused</td>
    <td>After current step is hidden</td>
    <td>current step</td>
</tr>
<tr>
    <td>resumed</td>
    <td>Before current step is shown</td>
    <td>current step</td>
</tr>
<tr>
    <td>ended</td>
    <td>After last step is hidden</td>
    <td>null</td>
</tr>
<tr>
    <td>stepAdded</td>
    <td>After step is added to step list</td>
    <td>added step</td>
</tr>
<tr>
    <td>stepRemoved</td>
    <td>After step is removed from step list</td>
    <td>removed step</td>
</tr>
<tr>
    <td>stepsReordered</td>
    <td>After all steps have been ordered properly</td>
    <td>null</td>
</tr>
<tr>
    <td>stepChanged</td>
    <td>After previous step is hidden, before next step is shown</td>
    <td>next step</td>
</tr>
</tbody></table>

<h2>Multiple Tours</h2>

<p>If you need to have separate tours on your site there are a couple ways to achieve it. One way is to use separate <code>ui-tour</code> directives, and any tour steps
    defined within each subtree will belong to the respective tour. This is a fairly idealistic approach because it assumes that you can cleanly separate your tours.
    If you need to create multiple tours on the same subtree you have two options: use <code>tour-step-enabled</code> and set flags to enable/disable steps when the appropriate
    tour is running, or create one or more detached tours and assign steps to them. A detached tour is not associated with a DOM subtree, and steps must be explicitly
    assigned to it for them to display. Here is an example of how to set up a detached tour and assign steps:</p>

<pre lang="js"><code class="hljs less"><span class="hljs-tag">angular</span><span class="hljs-class">.module</span>(<span class="hljs-string">'myModule'</span>, [<span class="hljs-string">'bm.uiTour'</span>])<span class="hljs-class">.run</span>([<span class="hljs-string">'uiTourService'</span>, function (uiTourService) {
    <span class="hljs-tag">uiTourService</span><span class="hljs-class">.createDetachedTour</span>(<span class="hljs-string">'myDetachedTour'</span>, {<span class="hljs-attribute">backdrop</span>: true});
    <span class="hljs-comment">//the second argument is a map that will override individual global tour options</span>
    });
</code></pre>

<pre lang="html"><code class="hljs vbnet">&lt;body ui-tour=<span class="hljs-string">"myTour"</span> ui-tour-backdrop=<span class="hljs-string">"false"</span>&gt;

    &lt;div tour-<span class="hljs-keyword">step</span> tour-<span class="hljs-keyword">step</span>-title=<span class="hljs-string">"Attached Step"</span> tour-<span class="hljs-keyword">step</span>-content=<span class="hljs-string">"I belong to 'myTour' because I don't have a 'belongsTo' attribute."</span>&gt;
    This <span class="hljs-keyword">step</span> belongs <span class="hljs-keyword">to</span> it<span class="hljs-comment">'s ancestral tour, not the detached tour.</span>
    &lt;/div&gt;

    &lt;div tour-<span class="hljs-keyword">step</span> tour-<span class="hljs-keyword">step</span>-belongs-<span class="hljs-keyword">to</span>=<span class="hljs-string">"myDetachedTour"</span> tour-<span class="hljs-keyword">step</span>-title=<span class="hljs-string">"Detached Step"</span> tour-<span class="hljs-keyword">step</span>-content=<span class="hljs-string">"I belong to 'myDetachedTour' because I have specified my tour"</span>&gt;
    This <span class="hljs-keyword">step</span> belongs <span class="hljs-keyword">to</span> <span class="hljs-string">"myDetachedTour"</span> because it <span class="hljs-keyword">is</span> specified, otherwise it would also belong <span class="hljs-keyword">to</span> <span class="hljs-string">"myTour"</span>.
    &lt;/div&gt;

    &lt;/body&gt;
</code></pre>

<p>Setting a tour name for detached tours is required, but by adding a name to regular tours you can specify belongsTo for those as well. <strong>Any step that has a belongsTo
    attribute will ignore its ancestral tour, and a step can only belong to one tour.</strong></p>

<h2>
    <a id="build-it-yourself" class="anchor" href="#build-it-yourself" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Build It Yourself</h2>

<p>Assuming you have Node, grunt, and bower installed:</p>

<pre lang="sh"><code class="hljs sql">npm <span class="hljs-operator"><span class="hljs-keyword">install</span>

bower <span class="hljs-keyword">install</span>

grunt
</span></code></pre>

<h2>
    <a id="license" class="anchor" href="#license" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>License</h2>

<p>(The MIT License)</p>

<p>Copyright (c) 2016  </p>

<p>Permission is hereby granted, free of charge, to any person obtaining
    a copy of this software and associated documentation files (the
    'Software'), to deal in the Software without restriction, including
    without limitation the rights to use, copy, modify, merge, publish,
    distribute, sublicense, and/or sell copies of the Software, and to
    permit persons to whom the Software is furnished to do so, subject to
    the following conditions:</p>

<p>The above copyright notice and this permission notice shall be
    included in all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
    IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
    CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
    TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
    SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>

<footer class="site-footer">
    <span class="site-footer-owner"><a href="https://github.com/benmarch/angular-ui-tour">Angular UI Tour</a> is maintained by <a href="https://github.com/benmarch">benmarch</a>.</span>

    <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
</footer>
