.no-scrolling {
    height: 100%;
    overflow: hidden;
}

/*this might be an accessibility issue*/
.ui-tour-popup:focus {
    outline: none;
}

.ui-tour-popup-orphan {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translateX(-50%) translateY(-50%);
}

/*improve popover arrows:*/
.ui-tour-popup.popover.bottom-left > .arrow,
.ui-tour-popup.popover.top-left > .arrow {
    left: 25px;
}

.ui-tour-popup.popover.bottom-right > .arrow,
.ui-tour-popup.popover.top-right > .arrow {
    left: auto;
    right: 25px;
}

.ui-tour-popup.popover.right-top > .arrow,
.ui-tour-popup.popover.left-top > .arrow {
    top: 25px;
}

.ui-tour-popup.popover.left-bottom > .arrow,
.ui-tour-popup.popover.right-bottom > .arrow {
    top: auto;
    bottom: 25px;
}