.popover-title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.popover-content.other {
    background-color: #88F;
    color: #fff;
}

.tour-backdrop {
    background-color: rgba(0, 0, 0, .5);
}
